* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: 30px;
}

.img-perfil {
    background-color: aqua;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.pessoal {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.name {
    margin-top: 16px;
    margin-left: 10px;
}

.especializacao {
    padding-top: 20px;
}

.descricao {
    padding-bottom: 20px;
}

.titulo {
    padding-top: 20px;
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.card1, .card2, .card3 {
    background-color: white;
    padding: 5px;
    width: 25%;
    border-radius: 7px;
    margin-right: 18px;
    border: 1px solid black;
    text-align: center;
}

.card1 a, .card2 a, .card3 a {
    color: black
}

.experiencia1 {
    background-color: aliceblue;
    border-radius: 5px;
    width: 87%;
    border: 1px solid black;
    padding: 10px 30px 0 20px;
    margin-top: 20px;
}

.descricao {
    margin-top: 20px;
}

.cargo-name {
    margin-right: 61%;
}

.cargo {
    display: flex;
    flex-direction: row;
}

.download {
    padding: 10px;
    width: 132px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;
}

.download a {
    color: black;
}

.projetos {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.img-projetoUm, .img-projetoDois {
    border-radius: 20px;
}


.projetoUm-img{
    width: auto;
}

.img-projeto {
    width: auto;
    height: 200px;
    margin-right: 10px;
}

.projetoDois-img{
    width: auto;
}

.img-projeto {
    width: auto;
    height: 200px;
}

.text {
    display: none;
    width: 100%;
}

h1, h2, p {
    font-family: 'Bricolage Grotesque', sans-serif;
}

@media screen and (max-width: 650px) {
    .page {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
    }

    .projetos {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .img-projeto {
        width: 95%;
        height: auto;
        margin: 10px;
    }

}

