body {
    font-family: Arial, sans-serif;
}

/* Estilizando o modal */
.modal {
    display: none; /* Ocultar por padrão */
    position: fixed; /* Posição fixa */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal-open {
    opacity: 1;
    visibility: visible;
}



.modal-content {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Estilizando o botão para abrir o modal */
.open-modal-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-close {
    font-size: 30px;
}

#cabecalho {
    margin-bottom: 18px;
    text-align: center;
}

.h2 {
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.acess-button {
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.acess-button:hover {
    background-color: #4CAF50;
}

#botoesAcao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close, .continua {
    width: 50%;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.continua {
    background-color: #4CAF50;
    color: white;
}

.continua:hover {
    background-color: #4caf4fd7;
}

.close:hover {
    background-color: aliceblue;
}

.opcoes {
    display: flex;
    flex-direction: row;
}

.opcoes button{
    width: 50%;
    padding: 10px;
    border: 5px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px; 
    cursor: pointer;
}

#voltar {
    background-color: rgb(173, 173, 173);
    color: white;
    font-size: 17px;
}

#voltar:hover {
    background-color: rgba(173, 173, 173, 0.811);
    color: white;
    transform: scale(1.02);
}

#continuarLinkedin, #continuarInstagram, #continuarWhatsapp{
    background-color: #66c269;
    color: azure;
    font-size: 17px;
}

#continuarLinkedin:hover, #continuarWhatsapp:hover, #continuarInstagram:hover{
    background-color: #66c269d1;
    transform: scale(1.02);
}