* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animacaoHome {
    0%{left: -200px;}
    100%{left: 0;}
}

@keyframes corBotao {
    0%{background-color: #263138;}
    100%{background-color: #263138cf;}
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: animacaoHome;
    animation-duration: 1s;
    overflow: hidden;
}

.container {
    width: 85%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: center;
}

.nome-pessoal {
    width: 50%;
    font-weight: bold;
    color: #445964;
}

.nome-pessoal p {
    background-image: url('../img/Group.svg');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: auto 100%;
    padding-left: 40px;
    font-size: 30px;
}

.menus {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menus a {
    color: #445964;
    text-decoration: none;
}

.menus a:hover {
    color: #3d8bb6;
}

#about-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}

.container-foto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 600px;
    background-image: url('../img/my-foto2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    margin-bottom: 50px;
}

#my-name {
    margin-bottom: 10px;
    font-size: 30px;
}

#hard-skills {
    margin-top: 100px;
}

.linha {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.level-skill {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.container-skill {
    margin: 50px;
}

.skill1 .lvl1, .skill1 .lvl2,.skill1 .lvl3, .skill1 .lvl4, 
.skill2 .lvl1, .skill2 .lvl2,.skill2 .lvl3, .skill2 .lvl4,
.skill3 .lvl1, .skill3 .lvl2,.skill3 .lvl3 {
    width: 30px;
    height: 30px;
    background-image: url('../img/linhaOK.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.skill1 .lvl5, .skill2 .lvl5, .skill3 .lvl4, .skill3 .lvl5 {
    width: 30px;
    height: 30px;
    background-image: url('../img/linhaNOK.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.texto-sobre-mim {
    text-align: justify;
}

.text {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.hardskills {
    font-size: 30px;
    margin-bottom: 10px;
}