* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animacaoHome {
    0%{left: -200px;}
    100%{left: 0;}
}

@keyframes corBotao {
    0%{background-color: #263138;}
    100%{background-color: #263138cf;}
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: animacaoHome;
    animation-duration: 1s;
    overflow: hidden;
}

.container {
    width: 85%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.nome-pessoal {
    width: 50%;
    font-weight: bold;
    color: #445964;
}

.nome-pessoal p{
    background-image: url('../img/Group.svg');
    background-repeat: no-repeat;
    background-position: 0%;
    padding-left: 40px;
    background-size: auto 100%;
    font-size: 30px;
}

.menus {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menus a {
    color: #445964;
    text-decoration: none;
}

.menus a:hover {
    color: #3d8bb6;
}

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.text {
    font-weight: bold;
    color: #263138;
    margin-right: 50px;
}

.big-size {
    font-size: 50px;
}

.text-cor {
    color: #445964;
    font-size: 50px;
}

.text-projetos {
    width: 250px;
    color: #445964;
    font-weight: bold;
    margin-top: 70px;
}

.texto-buttons {
    position: relative;
    top: -100px;
    left: 90px;
}

.container-header, .opcoes-projetos {
    display: flex;
    position: relative;
    top: -80px;
    margin-top: 50px;
}

.opcoes-projetos {
    margin-top: 20px;
}

.opcoes-projetos button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #DFDFDF;
    color: #445964;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.opcoes-projetos button:hover {
    background-color: #445964;
    color: white;
}

.container-cards {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    top: -100px;
}

.linha-topo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.linha-baixo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.cardM {
    width: 300px;
    height: 170px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.card:hover, .cardM:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.cabecalho-container {
    display: flex;
}

.dark {
    background-color: #263138;
    color: white;
    font-weight: bold;
}

.gray {
    background-color: #445964;
    color: white;
    font-weight: bold;
}

.soft {
    background-color: #DFDFDF;
    color: #40515a;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .container-cards {
        margin-top: 150px;
    }

    header {
        margin: 0;
        margin-top: 20px;
        flex-direction: column;
    }

    #home {
        padding: 0;
    }

    .text-projetos {
        margin: 0;
    }

    .container-header {
        flex-direction: column;
    }

    .nome-pessoal {
        width: 100%;
        text-align: center;
        display: block;
    }

    .nome-pessoal p {
        font-size: 20px;
        background-position: 20%;
    }

    .menus {
        width: 100%;
        font-size: 12px;
        margin-top: 20px;
    }

    .container-header, .opcoes-projetos {
        position: static;
    }

    .linha-topo, .linha-baixo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .cardM, .card {
        width: 30%;
        height: 100px;
        text-align: center;
        margin: 5px;
        font-size: 80%;
    }

    #home {
        flex-direction: column;
        margin-top: 20px;
    }
}
